#updatelist {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

a:hover {
    font-size: larger;
    transition: 0.5s;
}

.admin-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(223, 242, 255, 0.3);
    z-index: -1;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}