footer {
    background-color: #eeeeee;
    color: black;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
  }
  footer a:hover {
    text-decoration: underline;
  }
  
  footer a:active {
    color: red;
  }
  
  #contact {
    margin-left: 55px;
    font-family: 'Times New Roman', Times, serif;
  }

  #list {
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
  }